.patterns {
    margin: 20px auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #313131;
    padding: 20px;
    color: white;
  }
  
  .patterns_patterns {
    margin-bottom: 15px;
  }
  
  .patterns_pattern {
    width: 50px;
    margin-left: 5px;
    border-radius: 3px;
    border: none;
    outline: none;
    background-color: white;
  }
  
  .patterns_pattern-selected {
    background-color: #47CF73;
  }
  
  .patterns_instruments {
    display: flex;
    align-items: flex-end;
  }
  
  .bars {
    display: flex;
  }
  
  .bars_measure {
    width: 25px;
    text-align: center;
    border-radius: 4px;
    margin: 0 4px 4px 0;
  }
  
  .bars_measure-selected {
    background-color: #AE63E4;
  }
  
  .sample {
    display: flex;
  }
  
  .sample-name {
    padding-right: 10px;
    margin-bottom: 4px;
    height: 25px;
    line-height: 25px;
  }
  
  .notes {
    display: flex;
    margin-bottom: 4px;
  }
  
  .note {
    width: 25px;
    height: 25px;
    border: none;
    border-radius: 4px;
    outline: none;
    margin-right: 4px;
  }
  
  .note-play {
    background-color: #0EBEFF;
  }