.title {
    position: relative;
    color: #999999;
    margin: 20px;
}

.title-header, .title-input {
    font-weight: 700;
    font-size: 24px;
    display: flex;
    justify-content: center;
}

.title-header_editable {
    cursor: url('../images/edit.png'), auto;
}

.title-disabled {
    display: none;
}

.title-displayName {
    position: absolute;
    top: 50%;
    right: 0%;
    transform: translateY(-50%);
    color: #999999;
}

@media screen and (min-width: 768px) {
    .title {
        margin: 20px 0;
    }
}