.title {
    color: #999999;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin: 20px 0;
}

.title-header {
    font-weight: 700;
    font-size: 24px;
    flex: 1;
    display: flex;
    justify-content: center;
}

.title-displayName {
    color: #999999;
}